body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) ,url("/images/menu_background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-family: Arial;
    margin: 0px;
    color: white;
}

body.home-page {
    background-image: url("/images/main_background.jpg");
}

#small_logo {
    margin-left:35px;
    margin-top: 25px;
}

.title {
    margin-top: 45px;
    margin-bottom: 50px;
}

h1{
    color: white;
    background-color: #DD7835;
    display: inline;
    padding: 8px 22px;
}

.menu-list{
    margin-left: 50px;
}

.menu-list-item{
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0;
}

.menu-list-price{
    color: #dd7835;
    margin-left: 8px;
}

.menu-list-ingredient{
    color: #d8d8d8;
    font-size: 14px;
    display:block;
    margin-top: 4px;
    width: 320px;
}

.menu-list-badge{
    color:black;
    background-color: #dd7835;
    border-radius: 8px;
    font-size: 10px;
    font-weight: bold;
    padding: 3px 8px;
    display: inline-block;
    margin-top: 6px;
}

.centered{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

a.home-page{
    color: red;
    font-size: 18px;
    display: block;
    margin-top: 30px;
    text-align: center;
}