@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
    <head>
        <title>Home Page</title>
    </head>

    <body>
        <div class="text-center">
            <h1 class="display-4">Pizza Maman Home Page</h1>
            <a asp-page="MenuPizza">View Pizza Menu</a>
        </div>
    </body>
</html>
