@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="~/css/pizzaMenu.css" />
    </head>

    <body class="home-page">
        <div class="centered">
            <img src="~/images/main_logo.png"/>
            <a class="home-page" asp-page="MenuPizza">View Menu</a>
        </div>
    </body>
</html>
