@page
@model pizza_mama.Pages.Admin.IndexModel
@{
}

<form method="post">
<input type="text" name="username" placeholder="Username">
<input type="password" name="password" placeholder="Password">
<button>Connect</button>
</form>

<p>username est admin</p>